html {
	height: 100%;
}

body {
	margin: 0px;
	background-color: #000;
	height: 100%;
	font-family: 'Press Start 2P', cursive;
}

h1 {
	font-size: 16px;
	line-height: 26px;
}

.global {
	&__title {
		color: #00ffaf;
		text-align: center;
	}
}

.contact {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-size: cover;
	background-position: center;
}

span {
	color: #FFFFFF;
	font-family: 'Press Start 2P', cursive;
	font-size: 14px;
}

.me {
	cursor: pointer;
	transform: translate(0px, -0px);
	animation: psycho .0666s infinite;
	transition: text-shadow 2s ease;
	text-align: center;
    line-height: 20px;
}

.me:hover {
	color: cyan;
	animation: psycho .6777s infinite;
	transform: translate(0px, -0px);
	text-shadow: 0px 0px 30px rgba(255, 0, 123, 0.5);
	/* text-shadow: 0px 0px 20px rgba(0, 255, 255, 0.5); */
}

.information {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    width: 100%;
    height: 100%;
    // background-image: url('../../img/windows_bg.jpg');
    opacity: 0;
    visibility: hidden;
    transform: scale(.5);
    transition: all .3s ease;

	.information__content {
	    width: 100%;
	    height: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;
	}

	.information__content__image {
		img {
			// max-width: 300px;
		}
	}

	.overlay-active & {
	    opacity: 1;
	    visibility: visible;
	    transform: scale(1);
	}
}

.information__content__close {
	display: block;
	position: fixed;
	top: 18px;
	right: 18px;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s ease;
	// background-image: url();

	&:after {
		content: "";
		display: block;
		width: 10px;
		height: 50px;
	    transform: translate(0px, 0px) rotate(45deg);
	    background-color: #ff94e4;
	    position: absolute;
	    // box-shadow: 4px -4px 0px 0px #60ff99;
	    transition: all .5s ease;
	}

	&:before {
		content: "";
		display: block;
		width: 10px;
		height: 50px;
	    transform: translate(0px, 0px) rotate(-45deg);
	    background-color: #ff94e4;
	    position: absolute;
	    // box-shadow: 4px 4px 0px 0px #60ff99;
	    transition: all .5s ease;
	}

	&:hover {
		
		&:after {
			transform: translate(0px, 0px) rotate(225deg);
			box-shadow: -4px 4px 0px 0px #60ff99;
		}

		&:before {
			transform: translate(0px, 0px) rotate(-225deg);
			box-shadow: -4px -4px 0px 0px #60ff99;
		}

	}
}

@keyframes psycho {
	0% {
		transform: translate(0px, -2px);
		color: cyan;
	}
	100% {
		transform: translate(0px, -0px);
		color: pink;
	}
}