html {
	height: 100%;
}

body {
	margin: 0px;
	background-color: #000;
	height: 100%;
	font-family: 'Press Start 2P', cursive;
}

h1 {
	font-size: 14px;
	line-height: 22px;
}

h2 {
	font-size: 12px;
	line-height: 18px;
}

.global {
	&__title {
		color: #00f1ff;
		text-align: center;
	}
}

.contact {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-size: cover;
	background-position: center;
	flex-direction: column;

	.contact__content {
		position: relative;
		position: relative;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;

		.contact__content__details {
			position: absolute;
			width: 100%;
			max-width: 80px;
			height: 30px;
			background: #171717;
			top: 30px;
			left: 160px;
			font-size: 7px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #FFF;
			opacity: 0;
			visibility: hidden;
			transform: scale(0);
			transition: all 0.3s ease;
			box-shadow: 4px 4px 0px 0px #0e0e0e;

			a {
				text-decoration: none;
				color: #5f5f5f;
				height: 100%;
				display: flex;
				align-items: center;

				&:hover {
					color: #7cc2ff;
				}
			}
		}

		&:hover {
			.contact__content__details {
				opacity: 1;
				visibility: visible;
				transform: scale(1) translate(-50%, 0%);
				top: 50px;
				left: 50%;
			}
		}

	}
}

span {
	color: #FFFFFF;
	font-family: 'Press Start 2P', cursive;
	font-size: 14px;
}

.me {
	cursor: pointer;
	transform: translate(0px, -0px);
	animation: psycho .0666s infinite;
	transition: text-shadow 2s ease;
	text-align: center;
	line-height: 20px;
}

.me:hover {
	color: cyan;
	animation: psycho .6777s infinite;
	transform: translate(0px, -0px);
	text-shadow: 0px 0px 30px rgba(255, 0, 123, 0.5);
	/* text-shadow: 0px 0px 20px rgba(0, 255, 255, 0.5); */
}

.information {
	position: fixed;
	top: 0px;
	left: 0px;
	background: #000;
	width: 100%;
	height: 100%;
    // background-image: url('../../img/windows_bg.jpg');
    opacity: 0;
    visibility: hidden;
    transform: scale(.2);
    transition: all .5s ease;

    .information__content {
    	max-width: 100%;
    	width: calc(100% - 30px);
    	height: 100%;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	flex-direction: column;
    	padding: 0px 15px;

    	h1 {
    		margin-top: 80px;
    	}

	    .information__content__image {
	    	img {
	    		max-width: 100px;
	    	}
	    }

	    .information__content__skills {
	    	width: 100%;
	    	max-width: 420px;
	    	ul {
	    		padding: 0px;
	    		margin: 0px;
	    		width: 100%;

	    		li {
	    			display: flex;
	    			justify-content: space-between;
	    			height: 20px;

	    			span {
	    				font-size: 9px;
	    				display: block;
	    				width: 100%;
	    				text-align: center;
	    			}
	    		}
	    	}

	    	.information__content__skills__title {
	    		margin-bottom: 20px;
	    	}
	    }
    }


    .overlay-active & {
    	opacity: 1;
    	visibility: visible;
    	transform: scale(1);
    }
}

.information__content__close {
	display: block;
	position: fixed;
	top: 18px;
	right: 18px;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s ease;
	// background-image: url();

	@media (max-width: 990px) {
		right: unset;
		left: 50%;
		transform: translate(-50%, 0%);
	}

	&:after {
		content: "";
		display: block;
		width: 10px;
		height: 50px;
		transform: translate(0px, 0px) rotate(45deg);
		background-color: #00f1ff;
		position: absolute;
	    // box-shadow: 4px -4px 0px 0px #60ff99;
	    transition: all .5s ease;
	}

	&:before {
		content: "";
		display: block;
		width: 10px;
		height: 50px;
		transform: translate(0px, 0px) rotate(-45deg);
		background-color: #00f1ff;
		position: absolute;
	    // box-shadow: 4px 4px 0px 0px #60ff99;
	    transition: all .5s ease;
	}

	&:hover {
		
		&:after {
			transform: translate(0px, 0px) rotate(225deg);
			box-shadow: -4px 4px 0px 0px #ff60b1;
		}

		&:before {
			transform: translate(0px, 0px) rotate(-225deg);
			box-shadow: -4px -4px 0px 0px #ff60b1;
		}

	}
}

.contact__image {
	position: relative;

	.contact__image__details {
		position: absolute;
		width: 100%;
		max-width: 80px;
		height: 30px;
		background: #171717;
		top: 30px;
		left: 160px;
		font-size: 7px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #FFF;
		opacity: 0;
		visibility: hidden;
		transform: scale(0);
		transition: all 0.3s ease;
		box-shadow: 4px 4px 0px 0px #0e0e0e;

		a {
			text-decoration: none;
			color: #5f5f5f;
			height: 100%;
			display: flex;
			align-items: center;

			&:hover {
				color: #7cc2ff;
			}
		}
	}

	&:hover {
		.contact__image__details {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
		}
	}
}

@keyframes psycho {
	0% {
		transform: translate(0px, -2px);
		color: cyan;
	}
	100% {
		transform: translate(0px, -0px);
		color: pink;
	}
}