html {
	height: 100%;
}

body {
	margin: 0px;
	background-color: #000;
	height: 100%;
	font-family: 'Press Start 2P', cursive;
}

// ########## 
// ########## Mixins
// ########## 

// > Transition

@mixin transition($elements: all, $time: 0.3s, $easing: ease) {
	transition: $elements $time $easing;
}

h1 {
	font-size: 14px;
	line-height: 22px;
}

h2 {
	font-size: 12px;
	line-height: 18px;
}

.global {
	&__title {
		color: #00f1ff;
		text-align: center;
	}
}

.main-header {
	background-color: #000;
    padding: 15px 15px;

	.contact {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		background-size: cover;
		background-position: center;
		flex-direction: column;

		.contact__content {
			position: relative;
			position: relative;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.contact__content__details {
				position: absolute;
				width: 100%;
				max-width: 100px;
				height: 40px;
				top: 30px;
				left: 160px;
				font-size: 9px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #FFF;
				opacity: 0;
				visibility: hidden;
				transform: scale(0);
				transition: all 0.3s ease;
				box-shadow: 4px 4px 0px 0px #0e0e0e;

				a {
					text-decoration: none;
					color: #5f5f5f;
					height: 100%;
					display: flex;
					align-items: center;
					padding: 0px 10px;

					&:hover {
						color: #7cc2ff;
					}
				}
			}

			&:hover {
				.contact__content__details {
					opacity: 1;
					visibility: visible;
					transform: scale(1) translate(-50%, 0%);
					top: 50px;
					left: 50%;
				}
			}

		}
	}

}

span {
	color: #e139a1;
	font-family: 'Press Start 2P', cursive;
	font-size: 14px;
}

.me {
	cursor: pointer;
	transform: translate(0px, -0px);
	animation: psycho .3666s infinite;
	transition: text-shadow 2s ease;
	text-align: center;
	line-height: 20px;
	color: #82ffdd;
}

.me:hover {
	color: #e139a1;
	// animation: psycho .6777s infinite;
	transform: translate(0px, -0px);
	// text-shadow: 0px 0px 30px rgba(255, 0, 123, 9);
	/* text-shadow: 0px 0px 20px rgba(0, 255, 255, 0.5); */
}

.information {
	position: fixed;
	top: 0px;
	left: 0px;
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 9;
    opacity: 0;
    visibility: hidden;
    transform: scale(1) translate(0%, 200%);
    transition: all .6s ease;

    > .container {
    	height: 100%;
    }

    .information__content {
    	max-width: 100%;
    	width: 100%;
    	height: 100%;
    	// display: flex;
    	// justify-content: center;
    	// align-items: center;
    	// flex-direction: column;
    	// padding: 0px 15px;

    	h1 {
    		margin-top: 80px;
    	}

    	.information__content__image {
    		img {
    			max-width: 100px;
    		}
    	}

    	.information__content__skills {
    		width: 100%;
    		max-width: 420px;
    		margin: auto;

    		ul {
    			padding: 0px;
    			margin: 0px;
    			width: 100%;

    			li {
    				display: flex;
    				justify-content: space-between;
    				height: 20px;

    				span {
    					font-size: 9px;
    					display: block;
    					width: 100%;
    					text-align: center;
    				}
    			}
    		}

    		.information__content__skills__title {
    			margin-bottom: 20px;
    		}
    	}
    }


    .overlay-active & {
    	opacity: 1;
    	visibility: visible;
    	transform: scale(1) translate(0%, 0%);
    }
}

.information__content__close {
	display: block;
	position: fixed;
	top: 18px;
	right: 18px;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s ease;
	// background-image: url();

	@media (max-width: 990px) {
		right: unset;
		left: 50%;
		transform: translate(-50%, 0%);
	}

	&:after {
		content: "";
		display: block;
		width: 10px;
		height: 50px;
		transform: translate(0px, 0px) rotate(45deg);
		background-color: #00f1ff;
		position: absolute;
	    // box-shadow: 4px -4px 0px 0px #60ff99;
	    transition: all .5s ease;
	}

	&:before {
		content: "";
		display: block;
		width: 10px;
		height: 50px;
		transform: translate(0px, 0px) rotate(-45deg);
		background-color: #00f1ff;
		position: absolute;
	    // box-shadow: 4px 4px 0px 0px #60ff99;
	    transition: all .5s ease;
	}

	&:hover {
		
		&:after {
			transform: translate(0px, 0px) rotate(225deg);
			box-shadow: -4px 4px 0px 0px #ff60b1;
		}

		&:before {
			transform: translate(0px, 0px) rotate(-225deg);
			box-shadow: -4px -4px 0px 0px #ff60b1;
		}

	}
}

.contact__image {
	position: relative;

	img {
		width: 100%;
		max-width: 150px;
		height: 150px;
		object-fit: contain;
	}

	.contact__image__details {
		position: absolute;
		width: 100%;
		max-width: 80px;
		height: 30px;
		background: #171717;
		top: 30px;
		left: 160px;
		font-size: 7px;
		display: flex;
		justify-content: center;
		align-items: center;
		// color: #FFF;
		opacity: 0;
		visibility: hidden;
		transform: scale(0);
		transition: all 0.3s ease;
		box-shadow: 4px 4px 0px 0px #0e0e0e;

		a {
			text-decoration: none;
			color: #5f5f5f;
			height: 100%;
			display: flex;
			align-items: center;

			&:hover {
				color: #f70293;
			}
		}
	}

	&:hover {
		.contact__image__details {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
		}
	}
}

@keyframes psycho {
	0% {
		transform: translate(0px, -2px);
		// color: cyan;
	}
	100% {
		transform: translate(0px, -0px);
		// color: #cyan;
	}
}

.carousel {
	margin: 50px 0px 0px 0px;
}

.owl-carousel {

	.owl-stage-outer {
		margin: 0px 0px 50px 0px;
	}

	.owl-nav {
		text-align: center;

		button {
			height: 50px;
			width: 50px;
			background-color: #1e1e1e !important;
			border-radius: 10px;
			margin: 0px 5px;
			@include transition();

			span, i {
				font-size: 22px;
				color: #FFF;
			}

			img {
				width: 100%;
			}

			&:hover {
				background-color: #60ff99 !important;
			}
		}
	}
	.item {
		height: 200px;

		img {
			height: 200px;
			object-fit: contain;
			object-position: center;
		}
	}
}